{
  "extends": [
    "airbnb",
    "plugin:ava/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "ava"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "rules": {
     "arrow-body-style": [0],
     "comma-dangle": [1, "always-multiline"],
     "func-names": 0,
     "global-require": [0],
     "import/no-unresolved": [0], // Until import plugin supports webpack 2 resolveModules
     "jsx-quotes": ["error", "prefer-single"],
     "max-len": [1, 180, 4],
     "no-else-return": [0],
     "no-param-reassign": 0,
     "no-underscore-dangle" : 0,
     "quotes": ["error", "single"],
     "react/jsx-no-bind": [0],
     "semi": ["error", "never"],
     "react/jsx-filename-extension": 0,
     "react/jsx-curly-brace-presence": 0
  }
}
