.container {
	position: relative;
	width: 100%;
}

.splashContainer {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
}

.splashcard{
	height: 100%;
	width: 33%;
	flex-grow: 1;
	background-color: black;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	animation: changeImage 4s infinite;
}

.landingCenterContent {
	position: absolute;
	top: 40vh;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.landingCenterContent > img {
	width: 15em;
}

.landingButton{
	margin-top: 1em;
	padding: .8em 1.2em .8em 1.2em;
	color: black;
	background-color: white;
	border-radius: 1.5em;
	font-size: .7em;
	letter-spacing: 1px;
	cursor: pointer;
}

/* Standard syntax */
@keyframes changeImage {
	0% {opacity: 0;}
	10% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}
